.btn {
  display: inline-block;
  @include flex-center;
  gap: 12px;
  font-family: inherit;
  font-size: $font-size-2xl;
  font-weight: $font-weight-extrabold;
  border-radius: $border-radius-xl;
  width: 100%;
  padding: $spacing-3 0;
  cursor: pointer;
  border: none;
  position: relative;
  @include respond-to(md){
    width: auto;
    padding: $spacing-3 $spacing-6;
    font-size: $font-size-lg;
  }
  transition: background $transition-fast, color $transition-fast, box-shadow $transition-fast;
  // box-shadow: $shadow-holo-md;
  &.btn-primary {
    background: transparent;
    color: $color-white-80;
    backdrop-filter: blur(30px);
    &:hover {
      background: $color-white-80;
      color: $color-holo-secondary-dark;
    }
  }
  &.btn-secondary {
    background: $color-holo-secondary-dark;
    color: $color-white-80;
    border: 2px solid $color-white-80;
    &:hover {
      background: $color-white-80;
      color: $color-holo-secondary-dark;
    }
  }
  &.btn-outline {
    background: transparent;
    color: $color-holo-primary;
    border: 2px solid $color-holo-primary;
    &:hover {
      background: $color-holo-primary;
      color: $color-holo-secondary;
    }
  }
  .btn-glow {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    border-radius: inherit;
    box-shadow: 0 0 24px 0 $color-holo-primary-dark, 0 0 8px 0 $color-holo-secondary-dark;
    z-index: -1;
    pointer-events: none;
  }
}
.card {
  background: rgba(0, 0, 0, 0.211);
  border-radius: $border-radius-xl;
  // box-shadow: $shadow-holo-lg;
  padding: $spacing-6;
  margin-bottom: $spacing-6;
  backdrop-filter: $glass-backdrop;
  border: 1px solid $glass-border;
  transition: transform $transition-fast, box-shadow $transition-fast;
  &:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: $shadow-holo-md;
  }
}
.btn > * {
  transition: transform $transition-slow;
}
// .btn:hover > * {
//   transform: translateY(-2px);
// }