// Layout styles
.container {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 0 $spacing-4;
}
.grid {
  display: grid;
  gap: $spacing-6;
}
section {
  padding: $spacing-8 0;
  min-height: 100vh !important;
  @include flex-center;
   @media (max-width: $breakpoint-md) {
    padding: $spacing-8 0;
  }
}
