@import 'abstracts/variables';
// Marquee Section Styles
.marquee-section {
  margin: 2rem 0 0 0;
    min-height: auto;
  padding: 0;
  position: relative;
  z-index: 2;
  overflow: hidden; /* Essential for clipping */
  .marquee-title{
    text-transform: uppercase;
  }
}

.marquee {
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.295);
  backdrop-filter: blur(100px) saturate(1.2);
  padding: 20px;
  border-radius: 20px;
  overflow: hidden; /* Hide overflow */
}

.marquee-track {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: max-content;
  animation: marquee-scroll 30s linear infinite; /* Slower for smoothness */
  will-change: transform;
  
  // &:hover {
  //   animation-play-state: paused;
  // }
}

.marquee-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
    height: 120px;
    width: 200px;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  box-shadow:  0 0 8px $color-holo-secondary-dark;
  transition: transform 0.3s, box-shadow 0.3s;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    backdrop-filter: blur(4px) saturate(1.2) ;
    border-radius: $border-radius-lg;
  }
  
  &:hover {
    transform: scale(1.08) translateY(-6px);
    
  }
}

@keyframes marquee-scroll {
  0% { 
    transform: translateX(0); 
  }
  100% { 
    transform: translateX(-50%); 
  }
}

@media (max-width: 700px) {
  .marquee-track {
    gap: 1.5rem;
  }
  
  .marquee-item {
    min-width: 80px;
    padding: 0.5rem 0.7rem;
  }
}