// CSS Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    width: 100vw;

}
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden ;
  background: $color-black-base;
}

li {
  list-style: none;
}
a{
  text-decoration: none !important;
  color: inherit;
}

::-webkit-scrollbar{
  display: none;
}