// Entry point for all styles
@import 'abstracts/base';
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'pages/home/sections.scss';
@import 'pages/home/hero-stats.scss';
@import 'pages/home/marquee-section.scss';
@import 'pages/home/projects.scss';
@import 'pages/services/services.scss';
@import 'pages/clients/client.scss';
@import 'reset';
@import 'layout';
@import 'header';
@import 'footer';
@import 'components';
@import 'loading-screen';
@import 'responsive';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'lazy';
  src: url('../../assets/fonts/Lazytype-1jz0Z.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'frost';
  src: url('../../assets/fonts/Super\ Frosting.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'american';
  src: url('../../assets/fonts/AmericanCaptain-MdEY.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../../assets/fonts/Boldfinger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'milky';
  src: url('../../assets/fonts/Milker.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'great';
  src: url('../../assets/fonts/GreaterTheory.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #000;
}
